GOOGLE_API_KEY=<CHAVE>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<CHAVE>
LANGSMITH_PROJECT=<PROJETO>

LLM_MODEL=gemini-2.5-flash-preview-09-2025
EMBEDDING_MODEL=gemini-embedding-001

DIR_DATABASE=<DIR_CRIACAO_DATABASE_CHROMADB>
DIR_DATA_PYTHON=<DIR_IMPORT_CODE>